PyAudio==0.2.14
vosk==0.3.45
Requests==2.31.0
playsound==1.2.2
python-dotenv==1.0.1
NetHyTech-STT==1.0
groq==0.5.0
edge-tts==6.1.11
googlesearch-python==1.2.4
opencv-python==4.9.0.80
pvporcupine==1.9.5
pygame==2.5.2
webscout==2.9
